Django~=1.11
chardet~=2.2.1
colorama~=0.2.5
django-forms-bootstrap~=3.1.0
html5lib~=0.999
pygobject~=3.12.0
python-apt~=1.6.4
pytz~=2019.1
requests~=2.21.0
six~=1.5.2
unattended-upgrades~=0.1
urllib3~=1.24.2
wheel~=0.24.0
