@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

/* Category [Influence, Creativity, Threat] */


/* ---- BASE ---- */


body {
    font-family: 'Open Sans', sans-serif, Arial;
}

/* button of creating the category form */
.btnadd-Category {
    width: 100px;
}

/* shift of creating the category form */
.form-creation-shift {
    transform: translateY(5px);
    transition: transform 0.3s ease-in-out 0s;
    -webkit-transition: transform 0.3s ease-in-out 0s;
    -moz-transition: transform 0.3s ease-in-out 0s;
    -o-transition: transform 0.3s ease-in-out 0s;
}

/* Add category and comment text - #id_desc and #id_content are the textarea.form-control */
input[type = text].form-control, #id_desc,#id_content {
    color: black;
}

/* svg arrow pointing to the left side, act as a backward button */
.arrow-left {
    transform: scaleX(-1);
    min-width: 80px;    
}

/* large tablets to highlight the target form attributes when creating a category card */
.ctgry-inf-create-box {
    background-color: rgba(0, 127, 255, 0.15);
    padding-bottom: 8px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}  

/* ---- INDEX ---- */

#index--bg {
    background: rgba(236,240,241,0.87);
    background: -moz-linear-gradient(left, rgba(236,240,241,0.87) 0%, rgba(219,223,224,0.64) 25%, rgba(236,240,241,0.84) 50%, rgba(249,100,100,0.3) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,240,241,0.87)), color-stop(25%, rgba(219,223,224,0.64)), color-stop(50%, rgba(236,240,241,0.84)), color-stop(100%, rgba(249,100,100,0.3)));
    background: -webkit-linear-gradient(left, rgba(236,240,241,0.87) 0%, rgba(219,223,224,0.64) 25%, rgba(236,240,241,0.84) 50%, rgba(249,100,100,0.3) 100%);
    background: -o-linear-gradient(left, rgba(236,240,241,0.87) 0%, rgba(219,223,224,0.64) 25%, rgba(236,240,241,0.84) 50%, rgba(249,100,100,0.3) 100%);
    background: -ms-linear-gradient(left, rgba(236,240,241,0.87) 0%, rgba(219,223,224,0.64) 25%, rgba(236,240,241,0.84) 50%, rgba(249,100,100,0.3) 100%);
    background: linear-gradient(to right, rgba(236,240,241,0.87) 0%, rgba(219,223,224,0.64) 25%, rgba(236,240,241,0.84) 50%, rgba(249,100,100,0.3) 100%);    
}


/* section summary cards displayed */
#index--container--categories {
    box-sizing: border-box;
    max-width: 1050px;
}

/* div of category card */
.flex-card_main {
    flex: 1;
	min-width: 200px; 
	background-color: #fff;
}

/* inner div of category's card flex column header */
.flex-card_head{
	flex: 0;
}

/* inner div of category's card flex column paragraph */
.flex-card_para{ 
	flex: 1 0 auto;
}

/* inner div of category's card flex column bottom button */
.bottom_button{
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	color: #000000;
}

/* view btn in categories */
.index-btn-view-border {
    border: 1px solid white;
}

/* view btn in category influence */
.index-btn-inf-outline {
    outline: rgba(0, 0, 205, 0.8) solid 5px;
    -webkit-box-shadow: 0 0 3pt 2pt rgba(0, 0, 205, 0.8);
    -moz-box-shadow: 0 0 3pt 2pt rgba(0, 0, 205, 0.8);
    box-shadow: 0 0 3pt 2pt rgba(0, 0, 205, 0.8);
}

/* view btn in category creativity */
.index-btn-crt-outline {
    outline: rgb(219, 223, 224) solid 5px;
    -webkit-box-shadow: 0 0 3pt 2pt rgb(219, 223, 224);
    -moz-box-shadow: 0 0 3pt 2pt rgb(219, 223, 224);    
    box-shadow: 0 0 3pt 2pt rgb(219, 223, 224);
}

/* view btn in category threat */
.index-btn-thr-outline {
    outline: rgb(249,100,100) solid 5px;
    -webkit-box-shadow: 0 0 3pt 2pt rgb(249,100,100);
    -moz-box-shadow: 0 0 3pt 2pt rgb(249,100,100);    
    box-shadow: 0 0 3pt 2pt rgb(249,100,100);
}

/* ACCOUNTS */

/* login, registration and similar forms to appear towards middle on smaller devices */
.accountform {
    padding-top: 20px;
}


/* ---- ALL_CATEGORY ---- */


/* influence category header colours */
.inf--bg-fontcolor {
    background-color: aliceblue;
    color: black;
}

/* category status filter [Low, Medium, High] select one option */
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

/* category status filter [Low, Medium, High] turns from circle into a square */
.dot:hover {
  border-radius:0;  
  cursor: pointer;
}

/* category header tag to act as well as an a tag to display all non visible cards or refresh page again  */
nav h3 {
    cursor: pointer;
    max-width: 150px;
    margin-bottom: 10px;
}

/* category Influence span text links..a link to b coloured similar to its category */
.span-Inf-link-Text {
    color:#4babff;
}

/* category header tag make it underline for the user to capture that is clickable */
#showAllInfl:hover, #listingCards_inf .card-link:hover {
    text-decoration: underline;
    color:blue;
}

/* category cards and pagination btns appearance when load page */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.card.fade-in {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

/* category card description if long text */
.category-card-text {
    height: 45px;
    overflow-y: scroll;    
}

/* page input value */
#page_input_inf {
    border: 1px solid #36454f;
}


/* ---- VIEW_CATEGORY ---- */

/* each user comment to be displayed in a box to separate other users comments */
.commentBox { 
    border-bottom: 2px solid black;
    background-color: rgba(149, 165, 166, 0.3);
}   

/* font-awesome icon of category card to assign it to each category card header to remind user of the category it belongs */
.fa-cat-header-position {
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

/* slide left text title and descriptions to demonstrate fields needing attention */
div.slide-left {
  width:100%;
  overflow:hidden;
}

div.slide-left h3, div.slide-left h5 {
  animation: slide-left 3s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.comment-par-view {
    overflow: scroll;
    word-break: break-all;
}


/* ---- Donate ---- */

.visa-colour {
    background: -moz-linear-gradient(left, rgba(26,31,113,1) 0%, rgba(247,182,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,31,113,1)), color-stop(100%, rgba(247,182,0,1)));
    background: -webkit-linear-gradient(left, rgba(26,31,113,1) 0%, rgba(247,182,0,1) 100%);
    background: -o-linear-gradient(left, rgba(26,31,113,1) 0%, rgba(247,182,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(26,31,113,1) 0%, rgba(247,182,0,1) 100%);
    background: linear-gradient(to right, rgba(26,31,113,1) 0%, rgba(247,182,0,1) 100%);
}

#submit_payment_btn:hover {
    background-color: #3498DB;
}

/* ---- Graphs ---- */

/* orientate paragraph to stay in between the middle of the charts */
.p-shift {
    transform: translate(10px,0); /* translate(130px,0); */
    transition: transform 0.3s ease-in-out 0s;
    -webkit-transition: transform 0.3s ease-in-out 0s;
    -moz-transition: transform 0.3s ease-in-out 0s;
    -o-transition: transform 0.3s ease-in-out 0s;
}

#section--graphs {
    padding: 20px 0;
}

.txt-pie-graphs-boxshadow {
    box-shadow: inset 0 -0.175em #3182bd, inset 0 -0.2em #3182bd;
    -webkit-box-shadow: inset 0 -0.175em #3182bd, inset 0 -0.2em #3182bd;
    -moz-box-shadow: inset 0 -0.175em #3182bd, inset 0 -0.2em #3182bd;
}

/* ---- FOOTER ---- */

footer {
    width: 100%;      
    padding-top: 20px;
    padding-bottom: 20px;
    color: #5d5a5a;
}

footer .container {
    width: 90%;
    border-top: 1px solid #ccc;
}

footer .fa {
    color: #5d5a5a; /* grey */
    font-size: 24px;
}


/* ---- HELPERS ---- */


/* font-size */
.fs18 {
   font-size: 18px; 
}

.fs20 {
   font-size: 20px; 
}

.fs22 {
   font-size: 22px; 
}

/* min-width */
.mw80 {
    min-width: 80px;
}

.mw200 {
    min-width: 200px;
}

.mw280 {
    min-width: 280px;    
}

.mw320 {
    min-width: 320px;    
}

/* line-height */
.lh13 {
    line-height:1.3;
}

.lh15 {
    line-height:1.5;
}

/* btn shadow */
.btn-shadow {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);    
}

/* ---- MEDIA QUERIES ---- */


/* navbar to appear in all line on devices like IPhone5 */
@media screen and (max-width: 350px) {  
    a.navbar-brand {
        font-size: 16px;
    }   
}

/* login, registration and similar forms to appear towards middle on tablets and larger devices */
@media screen and (min-height: 992px) {  
    .accountform {
        padding-top: 35px;
    }  
    
    #section--graphs {
        padding: 30px 0;
    }    
}