{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block body_end_head %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-10 offset-md-1 text-center">
        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h5 class="alert-heading" style="text-indent:10px;">Attention !</h5>
          <p class="mb-0" style="text-indent:23px;">The webpage has been built for Educational Purposes</p>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 text-center">
    
    <!-- Payment form and form which takes the donate value to store on user db -->
    <form role="form" method="post" id="payment-form" action="{% url 'donate' %}" class="accountform form-horizontal justify-content-center">
        <fieldset><legend class="ml-3 ml-sm-4 mb-3 pl-3 pb-1 visa-colour" style="color:azure;width: 90%;"><i class="fa fa-credit-card mr-1" aria-hidden="true"></i>Payment Details</legend></fieldset>
        
        <!-- for any credit card errors that come back -->
        <div id="credit-card-errors" style="display: none;font-weight: bold;">
            <!-- if errors come back, we display stripe-error-message -->
            <div class="alert-message block-message error mb-3" id="stripe-error-message" style="color:red;"></div>
        </div>
        
        <div class="form-group col-md-6 offset-md-3">
            {{ donate_model_form | as_bootstrap }}
        </div>
        
        <div class="form-group col-md-6 offset-md-3">
            {{ donation_form | as_bootstrap }}
        </div> 
        
        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
    
   </div> 
</div>
{% endblock %}


{% block body_end_js %}
<script>
    // sticky footer
    $("body").addClass('d-flex flex-column').css({"min-height": "100vh"});
    $(".container").css({"flex": "1"});

    const today = new Date();
    // change value selected into current month
    $('#id_expiry_month option:eq('+today.getMonth()+')').prop('selected', true);
    
    // set minimum of 0.50 as is it the swipe min number acceptable, assist user not entering a lower value
    $('#id_donation').val(0.50);
    $('#id_donation').attr('min', 0.50);
    $("#id_donation").keyup(function(){
        if($(this).value < 0.50) {$(this).value = null};
    });
    
    $(".container").addClass("form-creation-shift");

    const alertVar = {{alertResult|safe}};
    if ($('.messages')[0]) {
        $(".messages").parent().removeClass();
        $(".messages").parent().addClass('alert').addClass("alert-" + alertVar["result"]);    
    };

</script>
{% endblock body_end_js %}

