{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

<div class="jumbotron mb-3 mb-sm-3">
  <h1 class="display-3">Fantasy Football UK Track</h1>
  <p class="lead">Assist us Data Scientists publicly to enhance player performances and web development features.</p>
  <hr class="my-4">
  <p>Post your ideas and knowledge of sport to expand their creativity. Watch out our online community contribution.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Plot Charts</a>
  </p>
</div>

<div class="row">
  <div class="col-auto ml-3 ml-sm-4 pl-sm-4">
    <form role="form" action="{% url 'index' %}" method="POST">
        {{ filterView|as_bootstrap }}
        {% csrf_token %}
    </form>
  </div>
</div>

<div id="index--container--categories" class="d-flex flex-row flex-wrap mx-auto">
    
    <div class="flex-card_main d-flex flex-column m-2 p-auto m-sm-2 p-sm-auto">
    	<img src="media/images/Influence.jpg" alt="" style="width:100%;">
    	<div class="d-flex flex-column">
    		<h2 class="flex-card_head">Influence</h2>
    		<p class="flex-card_para">Player's influence on the game and style of play can play a huge role</p>
    		<p class="flex-card_para">LOW : 4 <br /> MEDIUM : 4 <br /> HIGH : 4 </p>
    		<a class="bottom_button d-flex d-block btn btn-secondary text-center px-2 py-3" href="#" role="button">View All</a>
    	</div>
    </div>

    <div class="flex-card_main d-flex flex-column m-2 p-auto m-sm-2 p-sm-auto">
    	<img src="media/images/Creativity.jpg" alt="" style="width:100%;">
    	<div class="d-flex flex-column">
    		<h2 class="flex-card_head">Creativity</h2>
    		<p class="flex-card_para">Player's existing skills or newly created features might bring more public to football fantasy</p>
    		<p class="flex-card_para">LOW : 4 <br /> MEDIUM : 4 <br /> HIGH : 4 </p>
    		<a class="bottom_button d-flex d-block btn btn-secondary text-center px-2 py-3" href="#" role="button">View All</a>
    	</div>
    </div>
	
    <div class="flex-card_main d-flex flex-column m-2 p-auto m-sm-2 p-sm-auto">
    	<img src="media/images/Threat.jpg" alt="" style="width:100%;">
    	<div class="d-flex flex-column">
    		<h2 class="flex-card_head">Threat</h2>
    		<p class="flex-card_para">Players or Features can also bring negativity to the public</p>
    		<p class="flex-card_para">LOW : 4 <br /> MEDIUM : 4 <br /> HIGH : 4 </p>
    		<a class="bottom_button d-flex d-block btn btn-secondary text-center px-2 py-3" href="#" role="button">View All</a>
    	</div>
    </div>
</div>

{% endblock %}

{% block body_end_js %}
<script>
  $("#dropd-category").change(function () {
    var url = "{% url 'index' %}";  
    var categoryId = $(this).val();  

    $.ajax({                       
      url: url,                    
      data: {
        'category': categoryId       
      },
      success: function (data) {   
        //console.log(categoryId); 
        //console.log($(data).contents().find(".card_head").text());
      }
      
    });

  });
</script>
{% endblock body_end_js %}