{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}
<form method="POST" action="{% url 'login' %}?next={{ next }}" class="accountform">
    <fieldset class="form-group">
        <legend>Login</legend>
        
        {% if next %}
            <p>No account? <a href="{% url 'registration' %}?next={{ next }}">Sign up</a> now.</p>
        {% else %}        
            <p>No account? <a href="{% url 'registration' %}">Sign up</a> now.</p>
        {% endif %}
            
        <br>        
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </fieldset>    
</form>

{% endblock %}


{% block body_end_js %}
<script>
    // sticky footer
    $("body").addClass('d-flex flex-column').css({"min-height": "100vh"});
    $(".container").css({"flex": "1"});
</script>
{% endblock body_end_js %}