{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}
<form method="POST" action="{% url 'login' %}?next={{ next }}" class="accountform">
    <fieldset class="form-group">
        <legend>Login</legend>
        
        {% if next %}
            <p>No account? <a href="{% url 'registration' %}?next={{ next }}">Sign up</a> now.</p>
        {% else %}        
            <p>No account? <a href="{% url 'registration' %}">Sign up</a> now.</p>
        {% endif %}
            
        <br>        
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </fieldset>    
</form>

{% endblock %}


{% block body_end_js %}
<script>

  // footer responsive stay at bottom
  $(window).on('resize', function(){
      const w = window.innerWidth;
      const h = window.innerHeight;
      if (w >= 350 && h >= 600) {
          $("footer").css({'position' : 'absolute', 'bottom' : 0});
      }
      else {
          $("footer").css({'position' : 'inherit'});
      }
  }).resize();
  
</script>
{% endblock body_end_js %}