{% extends 'base.html' %}

{% block content %}

<div class="accountform d-flex flex-column justify-content-center align-content-center">

  <h3>{{ profile.username }}'s Table</h3>
  
  <table class="text-center">
    <tr>
      <th></th>
      <th>Created</th>
      <th>Views</th>
      <th>Upvotes</th>
    </tr>
    <tr>
      <th class="tblInf">Influence</th>
      <td>{{ figuresInf.created }}</td>
      <td>{{ figuresInf.views }}</td>
      <td>{{ figuresInf.upvotes }}</td>
    </tr>
    <tr>
      <th class="tblCre">Creativity</th>
      <td>{{ figuresCr.created }}</td>
      <td>{{ figuresCr.views }}</td>
      <td>{{ figuresCr.upvotes }}</td>
    </tr>
    <tr>
      <th class="tblThr">Threat</th>
      <td>{{ figuresTh.created }}</td>
      <td>{{ figuresTh.views }}</td>
      <td>{{ figuresTh.upvotes }}</td>
    </tr>
    <tr>
      <th>Totals</th>
      <td>{{ figuresInf.created|add:figuresCr.created|add:figuresTh.created }}</td>
      <td>{{ figuresInf.views|add:figuresCr.views|add:figuresTh.views }}</td>
      <td>{{ figuresInf.upvotes|add:figuresCr.upvotes|add:figuresTh.upvotes }}</td>    
    </tr>  
  </table>

</div>

{% endblock %}

{% block body_end_js %}
<script>

  /* Horizontal effects - highlight selection when hovering in */

  $("tr:nth-child(2) th, tr:nth-child(3) th, tr:nth-child(4) th, tr:nth-child(5) th").mouseover(function(){
    $("tr").children("td").removeClass("tblInf tblCre tblThr tblTot");
    $(this).siblings().addClass("tbl" + $(this).text().slice(0,3));
  });
  
  /* Vertical effects - highlight selection when hovering in */
  
  $("tr:nth-child(1) th").mouseover(function(){
    const thSelected = $(this).text();
    $("tr").children("td").removeClass("tblInf tblCre tblThr tblTot");
    
    switch (thSelected) { 
    	case 'Created': 
    		$("tr").not(':first').find("td:eq( 0 )").addClass("tblTot");
    		break;
    	case 'Views': 
    		$("tr").not(':first').find("td:eq( 1 )").addClass("tblTot");
    		break;
    	case 'Upvotes':
    		$("tr").not(':first').find("td:eq( 2 )").addClass("tblTot");
    		break;		
    	default:
    }   
  });
  
  /* Horizontal and Vertical effects when hovering out */
  
  $("tr th").mouseleave(function(){
    $("tr").children("td").removeClass("tblInf tblCre tblThr tblTot");
  });   
  
  // footer responsive stay at bottom
  $(window).on('resize', function(){
      const w = window.innerWidth;
      const h = window.innerHeight;
      if (w >= 300 && h >= 400) {
          $("footer").css({'position' : 'absolute', 'bottom' : 0});
      }
      else {
          $("footer").css({'position' : 'inherit'});
      }
  }).resize();
  
</script>
{% endblock body_end_js %}