{% extends "base.html" %} 

<!-- django form bootstrap -->
{% load bootstrap_tags %} 

{% block content %}
<!-- comment form creation of ['content'] -->
<h4 class="my-3">Influence <span class="oi oi-arrow-thick-right pr-1 fs20" style="top: 3px;"></span>{{ name | title }}</h4>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form | as_bootstrap }}
    <button type="submit" class="btn btn-primary btnadd-Category-Comment">Send</button>
</form>
{% endblock %}

{% block body_end_js %}
<script>
  $(".container").addClass("form-creation-shift");

  // footer responsive stay at bottom
  $(window).on('resize', function(){
      const h = window.innerHeight;
      if (h > 900) {
          $("footer").css({'position' : 'absolute', 'bottom' : 0});
      }
      else {
          $("footer").css({'position' : 'inherit'});
      }
  }).resize();
  
</script>
{% endblock body_end_js %}