{% extends "base.html" %} 

{% load bootstrap_tags %} 

{% block content %}
<h4 class="my-3 fs20">Create Influence</h4>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form | as_bootstrap }}
    <button type="submit" class="btn btn-primary btnaddCategoryComment">Create</button>
</form>
{% endblock %}

{% block body_end_js %}
<script>
  $(".container").css({'transform': 'translateY(5px)', 'transition': 'transform 0.3s ease-in-out 0s'});

  $(window).on('resize', function(){
      const h = window.innerHeight;
      if (h > 900) {
          $("footer").css({'position' : 'absolute', 'bottom' : 0});
      }
      else {
          $("footer").css({'position' : 'inherit'});
      }
  }).resize();
</script>
{% endblock body_end_js %}