{% extends "base.html" %} 

<!-- django form bootstrap -->
{% load bootstrap_tags %} 

{% block content %}
<!-- category form creation of ['motive', 'name', 'desc', 'status'] -->

<div class="inf-create-comment">
  <div class="row">
      <div class="col-md-10 offset-md-1">
  
        <form method="POST" enctype="multipart/form-data" class="accountform form-horizontal justify-content-center">
            <legend class="my-3 fs20 inf--bg-fontcolor">Create Influence</legend>
            {% csrf_token %} {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-primary btnadd-Category-Comment">Create</button>
        </form>
      
     </div> 
  </div>    
</div>
{% endblock %}

{% block body_end_js %}
<script>
  $(".container").addClass("form-creation-shift");

  // footer responsive stay at bottom
  $(window).on('resize', function(){
      const h = window.innerHeight;
      if (h > 900) {
          $("footer").css({'position' : 'absolute', 'bottom' : 0});
      }
      else {
          $("footer").css({'position' : 'inherit'});
      }
      
      const w = window.innerWidth;
      if (w<768 && h<768) {
        $('div div.row form').parent().parent().parent().removeClass('inf-create-comment')
      } else {
        $('div div.row form').parent().parent().parent().addClass('inf-create-comment')
      }      
  }).resize();
  
</script>
{% endblock body_end_js %}