{% extends 'base.html' %}

<!-- template_tags -->
{% load poll_extras %}

{% block content %}

<!-- FILTERS -->

<nav>
    <div class="row my-2">
        <div class="col-7 col-sm-7 col-md-3"> 
        <!-- if influences exist, one will displayed visible all influences on page. If not, due to ex. search filtering results in empty value, one would like that page to get refreshed -->
            {% if influences|Xor:filterquery %}
                <h3 id="showAllInfl" class="inf--bg-fontcolor">Influences</h3>
            {% else %}
                <h3><a href="{% url 'all_influences' %}" class="inf--bg-fontcolor">Influences</a></h3>
            {% endif %}
            <p><a href="{% url 'add_influence' %}" class="btn btn-secondary">Create One</a></p>
        </div>
    
        <div class="col-7 col-sm-7 col-md-4 d-flex flex-row mt-md-4 pt-md-2 text-center"> <!-- filter status [Low, Medium, High] -->
            <h6 class="d-flex flex-column mx-2 align-items-center">Low<span class="btn bg-success dot d-inline-block"></span></h6>
            <h6 class="d-flex flex-column mx-2 align-items-center">Medium<span class="btn bg-secondary dot d-inline-block"></span></h6>
            <h6 class="d-flex flex-column mx-2 align-items-center">High<span class="btn bg-primary dot d-inline-block"></span></h6> 
        </div>
    
        <div class="col-7 col-sm-7 col-md-5 mt-md-4 pt-md-3"> <!-- Search form button -->
            <div class="row">
                <form id="searchform_inf" class="form-inline my-2 my-lg-0" method="get" accept-charset="utf-8">
            	    <div class="col-9 pr-0 col-sm-9 pr-sm-0 col-md-9 pr-md-0 col-lg-9 pr-lg-0">
                        <input class="form-control mr-sm-2" id="searchbox_inf" name="q" type="text" placeholder="Search">
                    </div>
                    <div class="col-3 pl-1 col-sm-3 pl-sm-1 col-md-2 pl-md-1 col-lg-2 pl-lg-1">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div> 
        </div>    
    </div>
</nav>

<!-- CARDS -->

<section>
    <div class="row align-items-center">
    
        <div id="listingCards_inf" class="d-flex flex-row flex-wrap justify-content-between justify-content-sm-between col w-75 mx-auto fade-in">
        
            {% for inf in influences reversed %}
            
            <div class="card flex-card_main mb-3 mr-2 mr-lg-5 align-items-stretch fade-in">
                
                <h3 class="card-header py-2 fs22" style="color:{{ colorsIndex|hash:inf.status|hash2:1 }};background-color:{{ colorsIndex|hash:inf.status|hash2:0 }};"><span>{{ inf.motive|title }}</span></h3>
                
                <div class="card-body px-0 py-4">
                    <h5 class="card-title py-2 pl-3">{{ inf.name|title }}</h5>
                    <hr class="mw200">
                    <p class="card-text pl-3 category-card-text">{{inf.desc | truncatewords:50 }}</p>
                </div>        
                
                {% for key, values in infUpvotesAndDays.items %}
                    {% with key as name %}
                        {% if inf.id|stringformat:"i" == name %}        
                        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-2">
                                <span class="oi oi-eye" title="person" aria-hidden="true"> {{ inf.views }}</span>
                                <span class="oi oi-check px-3" title="person" aria-hidden="true">{{ values.upvotes }}</span>
                            </li>
                        </ul>                
        
                        <div class="card-body py-3">
                            <a href="{% url 'view_influence' inf.id %}view/" class="card-link">View</a>
                        </div>
                        
                        <div class="card-footer font-weight-light py-2" style="color:{{ colorsIndex|hash:inf.status|hash2:1 }};background-color:{{ colorsIndex|hash:inf.status|hash2:0 }}">
                            {{ values.daysyear }} 
                        </div>
                        
                        {% endif %}
                    {% endwith %}
                {% endfor %}        
                
            </div>
            
            {% endfor %}    
            
        </div>
    
    </div>
</section>

{% if influences %}

<section>
    <div class="container mt-2 p-3">
        <div class="row">
            <div class="col-4 col-sm-2 m-auto d-inline-flex justify-content-around justify-content-sm-around p-2 p-sm-2 fade-in">
                <a href="javascript:prevPage()" id="btn_prev_inf" class="arrow-left fade-in"> <!-- prev button -->
                    {% include "svgpartial.html" %}
                </a>
                <a href="javascript:nextPage()" id="btn_next_inf" class="mw80 fade-in" style="margin-left:10%;"> <!-- next button -->
                    {% include "svgpartial.html" %}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-sm-2 m-auto d-inline-flex justify-content-around justify-content-sm-around pt-0 pb-2 pb-sm-2 px-2 px-sm-2 fade-in"> <!-- page display -->
                <p>Page: <span id="page_inf"></span></p>
            </div>
        </div>  
        <div class="row">
            <div class="col-6 col-sm-4 m-auto d-inline-flex justify-content-center justify-content-sm-center pt-0 pb-2 pb-sm-2 px-2 px-sm-2 fade-in">
                <label>Go to <input class="text-center" type="text" name="page_input_inf" id="page_input_inf" placeholder="page" value="" style="width: 50px;"></label> <!-- page goto input value -->
                <a href="#" id="goto_inf" style="margin-left: 5px;">&gt;&gt;</a>
            </div>
        </div>	        
    </div>
</section>

{% endif %}

{% endblock %}

{% block body_end_js %}
<script>
    $(".btn-secondary").css({'background-color' : 'rgba(62, 88, 113, 1)', 'border-color' : 'rgba(62, 88, 113, 1)'});
    
    // Filters per Status and Pagination
    
    // global vars
    let current_page = "{{inf_curr_page_views_py}}";
    const records_per_page = 8;
    const cardHeadElementsJQ = $('.card-header');
    let cardsLength = cardHeadElementsJQ.length;
    let myPages = {};
    
//////////////////////////////////////////    
    
    //pagination - create per page a dict array of all card indexes according to user filtering or not
    function buildMyPages() {
        myPages = {};
        let pager=1;
        myPages[String("p" + pager)] = [];
        let loopCounterRecords = 0;
        
        cardHeadElementsJQ.each(function( i ) {
            if(this.closest('.card').style.display == "") {
                if (loopCounterRecords<records_per_page) {
                    myPages[String("p" + (pager))].push(i);
                    loopCounterRecords++;
		        }
		        
		        if (loopCounterRecords>=records_per_page) {
		            pager+=1;
				    myPages[String("p" + (pager))] = [];
				    loopCounterRecords = 0;
		        }                 
            }
         });        
    }
    
    // as we have Player and Features as card-headers, we would like to insert an inner bg colour to the Feature to get distinguished
    function featureHeaderHighlight() {
        $("h3 span").each(function( index ) {
          if($(this).text() == "Feature") {
            switch($(this).closest("h3").css("background-color")) {
                case "rgb(44, 62, 80)":
                    this.style.backgroundColor="#476481"; //high
                    break;
                case "rgb(149, 165, 166)":
                    this.style.backgroundColor="#bfc8c9"; // medium
                    break;                
                default:
                    this.style.backgroundColor="#3be6c4"; // low
            }              
          }
        }); 
    }    
    
    function footerResponsive() {
        const w = window.innerWidth;
        const h = window.innerHeight;
        const visible_records_per_page = $('#listingCards_inf .card').length;
        let threshold = 0;
        switch(visible_records_per_page) {
            case 4:
                threshold = 1200;
                break;
            case 0:
                threshold = 0;
                break;                
            default:
                threshold = 765; // for 3,2,1 records appear
        }
        if ((w >= threshold && visible_records_per_page <= 4) || ((h-300) > 900 && visible_records_per_page <= 4)) { //assume one row in big tablet has 4 cards
            $("footer").animate({
                position: "absolute", bottom: "0"
            }, 500, "linear", function() {
                $("footer").css({'position' : 'absolute', 'bottom' : 0});
            });
        }
        else {
            $("footer").css({'position' : 'inherit'});
        }        
    }    
    
    //previous btn
    function prevPage()
    {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    //next btn
    function nextPage()
    {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }
    
    //calc number of pages
    function numPages()
    {
        return Math.ceil(cardsLength / records_per_page);
    }    
    
//////////////////////////////////////////    
    
    // Filter all
    $("#showAllInfl").click(function (e) {
        cardsLength = 0;
        cardHeadElementsJQ.each(function( i ) {
            $(this).parent().css({'display': ''});
            cardsLength++;
        });

        current_page = 1;
        buildMyPages();
        changePage(current_page);
    });    
    
    // Filter per selected status
    $(".dot").click(function (e) {
        const status = $(this).parent().text().toLowerCase(); 
        const dictStatusColours = {"low": "rgb(24, 188, 156)", "medium": "rgb(149, 165, 166)", "high": "rgb(44, 62, 80)"};
        
        cardsLength = 0;
        cardHeadElementsJQ.each(function( i ) {
            let bgcolor = this.style.backgroundColor;
            if (bgcolor==dictStatusColours[status]) {
                $(this).parent().css({'display': ""});
                cardsLength++;
            }
            else {
                $(this).parent().css({'display': 'none'});
            }
        });
        
        current_page = 1;
        buildMyPages();
        changePage(current_page);
    });    
    
    // user be able to switch to desired page
    $("#goto_inf").click(function(e) {
        let gotoPageVal = String(document.getElementById("page_input_inf").value);
        gotoPageVal = (gotoPageVal=="") ? "" : gotoPageVal = gotoPageVal.match(/\d+/g) || [];
        if(gotoPageVal.length) {gotoPageVal = parseInt(gotoPageVal.join(""));}
        if (!isNaN(parseInt(gotoPageVal))) {
            if (gotoPageVal > numPages()) gotoPageVal = numPages();
            changePage(gotoPageVal);
            current_page = gotoPageVal;
        }
    });        
    
//////////////////////////////////////////
    
    //build page
    function changePage(page)
    {
        //pagination attrs [btns,card records,current page show value]
        let btn_next = document.getElementById("btn_next_inf");
        let btn_prev = document.getElementById("btn_prev_inf");
        let listing_cards = document.getElementById("listingCards_inf");
        let page_span = $("#page_inf");
        let goto_inf = $("#goto_inf");
    
        // Validate page
        if (page < 1) page = 1;
        if (page > numPages()) page = numPages();
    
        //check if page dict value exists
        const checkPageExists = Boolean(myPages[String("p" + page)] != null);
    
        //populate cards per page
        listing_cards.innerHTML = "";
        if (page_span != null && goto_inf != null) {
            page_span.parent().css({'display': 'none'});
            goto_inf.parent().parent().css({'display': 'none'});
        }
        
        if (checkPageExists) {
            for (let i = 0; i < myPages[String("p" + String(page))].length; i++) {
                listing_cards.innerHTML += cardHeadElementsJQ.eq(myPages[String("p" + String(page))][i]).parent()[0].outerHTML;
            }            
            
            page_span.parent().css({'display': ''});
            page_span.html(page);
        
            // buttons need to hide (last page, next button be hidden - first page, prev button be hidden) or visible
            if (page == 1) {
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
            }
        
            if (page == numPages()) {
                btn_next.style.visibility = "hidden";
            } else {
                btn_next.style.visibility = "visible";
            }  
            
            goto_inf.parent().parent().css({'display': ''});
        }
        
        featureHeaderHighlight();
        footerResponsive();  
    }    
    
//////////////////////////////////////////    
  
    // have a link tags to onload a page from page 1 rather than the current page
    $(document).ready(function() {   
        $("a[href*='/influences/']").click(function(e) {
            current_page = 1;
            saveCurrentPage();
        });
        
        // footer responsive stay at bottom
        $(window).on('resize', function(){
            if("p1" in myPages) {footerResponsive();}
        }).resize();        
        
        buildMyPages();
	    changePage(current_page);
    });
    
    // ajax call back to django views.py session variable, in order to keep track of last page saved 
    // when a user is viewing a card and would like to go back
    function saveCurrentPage(e) {
        const url = "{% url 'save_curr_page' %}";
        $.ajax({    
            type: "GET",
            async: false,
            url: url,                    
            data: {
                'inf_curr_page': current_page       
            },
            dataType: 'json',
            success: function (data) {  
                if (data.got_saved) {
                    // console.log("success");
                }
            },
            error: function(error) {
                // console.log("error");
            }     
        });   
        return; 
    }

    // ajax to be called before leaving a page
    window.onbeforeunload = function (e) {
       saveCurrentPage();
    };
  
</script>
{% endblock body_end_js %}





