{% extends 'base.html' %}

<!-- django form bootstrap -->
{% load bootstrap_tags %} 

<!-- timezones -->
{% load tz %}

{% block content %}

<section>
    
    <!-- category card Headers of motive [Player, Feature] and name -->
    <div class="row mt-3">
        
        <div class="col-12 mt-1 col-sm-4"> 
            <h3 class="fw400"><mark class="infmark">{{ influence.motive | title }}<i class="fa fa-asterisk ml-1 fs20 fa-cat-header-position"></i></mark></h3>
        </div>
        
        <div class="col-12 mt-3 mt-sm-0 col-sm-7 offset-sm-1 text-sm-left px-sm-2 col-md-8 offset-md-0 text-md-left col-lg-6 offset-lg-0 ml-lg-1 slide-left"> 
            <h3 class="mw300 lh13 ml-sm-0 ml-md-0 d-inline-flex fw400"><mark class="inf--bg-fontcolor wordbr">{{ influence.name | truncatechars:63 | title }}</mark></h3>
        </div>
        
    </div>
    
    <!-- backward arrow and category card description -->
    <div class="row mt-2">
        
        <div class="col-3 col-sm-2 col-md-1 col-lg-1 arrow-left"> 
            <a href="{% url 'all_influences' %}">
                {% include "svgpartial.html" %}
            </a>
        </div>
        
        <div class="col-12 mt-3 mt-sm-1 col-sm-9 offset-sm-1 col-md-9 offset-md-1 pl-md-0 col-lg-9 offset-lg-1 slide-left"> 
            <p class="mh18 mw300 lh13 wordbr fs17 fw300 text-left" style="padding-left: 1px;">{{ influence.desc | title }}</p>
        </div>   
        
    </div>
    
    <!-- status importance, number of upvotes and button to upvote it -->
    <div class="row mt-0">
        
        <div class="col-12 mt-2 col-sm-2 col-lg-1 mr-md-0 mr-lg-4 offset-sm-5 offset-md-4 offset-lg-4"> 
            <h6 class="text-uppercase font-weight-bold">Status</h6>
            <div class="row">
                <div class="col-8 col-sm-10 px-sm-3 py-1">
                    <mark class="infmark pl-0 pl-sm-0">{{ influence.status | title }}</mark>
                </div>
            </div>
        </div>
        
        <div class="col-12 mt-2 col-sm-2 col-lg-1 mr-md-0 mr-lg-4"> 
            <h6 class="text-uppercase font-weight-bold">UpVotes</h6>
            <div class="row py-1">
                <div class="col-8 col-sm-8 text-sm-center px-3 pl-sm-4 pl-md-4 pl-lg-4">
                    {{ upvotes_total }}
                </div>
            </div>        
        </div>    
        
        <div class="col-12 mt-2 col-sm-3 col-lg-3 mr-md-0 mr-lg-4"> 
            {% if user_has_upvote %}
                <p class="mb-1 mb-sm-1"><a href="#!" class="btn btn-success disabled">UpVote</a></p>
                <p class="text-muted pl-1">You have Upvoted it</p>
            {% else %}
                <p><a href="{% url 'user_upvote' influence.id %}" class="btn btn-success">UpVote</a></p>
            {% endif %}
        </div>
        
    </div>
</section>

<section class="comment-section">
    
    <!-- Number of Comments -->
    <div class="row mt-2 mt-sm-3">
        <div class="col my-1 pl-3 col-sm-4">
            <h5 class="font-weight-light">Comments <span>( {{ comments | length }} )</span></h5>
        </div>
    </div>
    
    <!-- Comment Text Area and Submit Comment -->
    <div class="row">
        <div id="inf-add-comment-section" class="col-md-8 pl-3">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal justify-content-center">
                {% csrf_token %} {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-shadow mb-3">Add Comment</button>
            </form>
        </div> 
    </div>    
    
    <!-- category card comments -->
    <div style="overflow-y: scroll">
        {% for comment in comments reversed %}
        
        <article class="commentBox inf-comment-color mb-3 pl-1">
            <div class="row">
                <div class="col-12 col-sm-3 pt-2 pt-sm-3">
                    <p>{{ comment.published_date|localtime }}</p>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <p>{{ comment.owner | title }}</p>
                        </div>
                    </div>        
                </div>
                                                             
                <div class="col-12 col-sm-9 pt-2 pt-sm-3">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <p class="comment-par-view">{{ comment.content | title }}</p>
                        </div>
                    </div>        
                </div>
            </div>
        </article>
    
        {% endfor %}
    </div>
    
</section>

{% endblock %}

{% block body_end_js %}
<script>
    // sticky footer
    $("body").addClass('d-flex flex-column').css({"min-height": "100vh"});
    $(".container").css({"flex": "1"});

    // footer responsive stay at bottom, h3 header font-size change on smaller tablets
    $(window).on('resize', function(){
        // h3 adjust font
        const w = window.innerWidth;
        if(w<=775) {
            $("mark:eq(1)").css({'font-size' : '26px'});
        } else {
            $("mark:eq(1)").removeAttr('style');
        }
        
        // description orientate according to width
        switch (true) { 
            case (w < 577): 
                $("p:first").css({'padding-left' : '1px'});
            	break;
            case (w < 768): 
            	$("p:first").css({'padding-left' : '89.5px', 'max-width' : '480px'});
                break;            		
            case (w < 992): 
            	$("p:first").css({'padding-left' : '114.5px', 'max-width' : '550px'});
            	break;
            case (w < 1200): 
            	$("p:first").css({'padding-left' : '175.5px', 'max-width' : '630px'});
            	break;            		
            default:
            	$("p:first").css({'padding-left' : '205.5px', 'max-width' : ''});
        }              
        
    }).resize();
</script>
{% endblock body_end_js %}