{% extends 'base.html' %}

<!-- django form bootstrap -->
{% load bootstrap_tags %} 

<!-- timezones -->
{% load tz %}

{% block content %}

<section>
    
    <!-- category card Headers of motive [Player, Feature] and name -->
    <div class="row mt-3">
        
        <div class="col-12 mt-1 col-sm-4">
            <h3><mark class="infmark">{{ influence.motive | title }}<i class="fa fa-asterisk ml-1 fs20 fa-cat-header-position"></i></mark></h3>
        </div>
        
        <div class="col-12 mt-3 mt-sm-0 col-sm-7 offset-sm-1 text-sm-left col-md-7 offset-md-0 text-md-left col-lg-5 offset-lg-0 slide-left"> 
            <h3 class="mw300 lh15 ml-sm-0 ml-md-0 d-inline-flex"><mark class="inf--bg-fontcolor wordbr">{{ influence.name | truncatechars:50 | title }}</mark></h3>
        </div>
        
    </div>
    
    <!-- backward arrow and category card description -->
    <div class="row mt-2">
        
        <div class="col-3 col-sm-2 col-md-1 col-lg-1 arrow-left"> 
            <a href="{% url 'all_influences' %}">
                {% include "svgpartial.html" %}
            </a>
        </div>
        
        <div class="col-12 mt-3 mt-sm-1 col-sm-7 offset-sm-3 text-sm-left col-md-7 offset-md-3 text-md-center pl-md-0 col-lg-7 offset-lg-2 slide-left"> 
            <h5 class="mh18 mw300 lh13 wordbr" style="margin-right: 15px;">{{ influence.desc | title }}</h5>
        </div>   
        
    </div>
    
    <!-- status importance, number of upvotes and button to upvote it -->
    <div class="row mt-2">
        
        <div class="col-xs-4 pt-2 col-sm-2 col-lg-1 mr-md-0 mr-lg-4 offset-sm-5 offset-md-4 offset-lg-4"> 
            <h6 class="text-uppercase font-weight-bold">Status</h6>
            <div class="row">
                <div class="col-xs-8 col-sm-10 py-1">
                    <mark class="infmark">{{ influence.status | title }}</mark>
                </div>
            </div>
        </div>
        
        <div class="col-xs-4 pt-2 col-sm-2 col-lg-1 mr-md-0 mr-lg-4"> 
            <h6 class="text-uppercase font-weight-bold">UpVotes</h6>
            <div class="row py-1">
                <div class="col-xs-8 col-sm-8 text-sm-center pl-4 pl-sm-4">
                    {{ upvotes_total }}
                </div>
            </div>        
        </div>    
        
        <div class="col-xs-4 pt-2 col-sm-3 col-lg-3 mr-md-0 mr-lg-4"> 
            {% if user_has_upvote %}
                <p class="mb-1 mb-sm-1"><a href="" class="btn btn-success disabled">UpVote</a></p>
                <p class="text-muted">You have Upvoted it</p>
            {% else %}
                <p><a href="{% url 'user_upvote' influence.id %}" class="btn btn-success">UpVote</a></p>
            {% endif %}
        </div>
        
    </div>
</section>

<section class="comment-section">
    
    <!-- Number of Comments -->
    <div class="row mt-2 mt-sm-3">
        <div class="col-xs-4 my-1 pl-3 col-sm-4">
            <h5 class="font-weight-light">Comments <span>( {{ comments | length }} )</span></h5>
        </div>
    </div>
    
    <!-- Comment Text Area and Submit Comment -->
    <div class="row">
        <div id="inf-add-comment-section" class="col-md-8 pl-3">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal justify-content-center">
                {% csrf_token %} {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-shadow mb-3">Add Comment</button>
            </form>
        </div> 
    </div>    
    
    <!-- category card comments -->
    <div style="overflow-y: scroll">
        {% for comment in comments reversed %}
        
        <article class="commentBox inf-comment-color mb-3 pl-1">
            <div class="row">
                <div class="col-12 col-sm-3 pt-2 pt-sm-3">
                    <p>{{ comment.published_date|localtime }}</p>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <p>{{ comment.owner | title }}</p>
                        </div>
                    </div>        
                </div>
                                                             
                <div class="col-12 col-sm-9 pt-2 pt-sm-3">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <p class="comment-par-view">{{ comment.content | title }}</p>
                        </div>
                    </div>        
                </div>
            </div>
        </article>
    
        {% endfor %}
    </div>
    
</section>

{% endblock %}

{% block body_end_js %}
<script>
    // sticky footer
    $("body").addClass('d-flex flex-column').css({"min-height": "100vh"});
    $(".container").css({"flex": "1"});

    // footer responsive stay at bottom, h3 header font-size change on smaller tablets
    $(window).on('resize', function(){
        //h3 adjust font
        const w = window.innerWidth;
        if(w<=775) {
            $("mark:eq(1)").css({'font-size' : '26px'});
        } else {
            $("mark:eq(1)").removeAttr('style');
        }
        
        if ($("h5:first").text().length <= 17) {
            $("h5:first").parent().removeClass("offset-md-3 offset-lg-2").addClass("offset-md-2 offset-lg-1");  
            $("h5:first").css({'font-size' : '1.171875rem'});
        } else {
            $("h5:first").parent().removeClass("offset-md-2 offset-lg-1").addClass("offset-md-3 offset-lg-2"); 
            $("h5:first").css({'font-size' : '17px'});
        }        
    }).resize();
</script>
{% endblock body_end_js %}