{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fantasy Football Track</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand mr-0 mr-sm-3 fs20" href="{% url 'index' %}"><i class="fa fa-futbol-o mr-1"></i>SportAttractor</a>
            
            <div class="d-flex flex-row order-2 order-lg-3">
                <ul class="navbar-nav flex-row">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="{% url 'logout' %}"><i class="fa fa-sign-out mr-1"></i><span class="d-none d-sm-inline">LogOut</span></a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="{% url 'profile' %}"><i class="fa fa-user mr-1"></i><span class="d-none d-sm-inline">Profile</span></a></li>
                    {%  else %}
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="#"><i class="fa fa-pie-chart mr-1"></i><span class="d-none d-sm-inline">Graphs</span></a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="{% url 'login' %}"><i class="fa fa-sign-in mr-1"></i><span class="d-none d-sm-inline">LogIn</span></a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="{% url 'registration' %}"><i class="fa fa-user-plus mr-1"></i><span class="d-none d-sm-inline">Register</span></a></li>
                    {% endif %}
                </ul>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFFT" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
    
            <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarFFT">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="#"><i class="fa fa-pie-chart mr-1"></i>Graphs</a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="{% url 'all_influences' %}"><i class="fa fa-asterisk mr-1"></i>Influence</a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="#"><i class="fa fa-cog mr-1"></i>Creativity</a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="#"><i class="fa fa-minus mr-1"></i>Threat</a></li>
                        <li class="nav-item"><a class="nav-link px-2 px-md-3" href="#"><i class="fa fa-money mr-1"></i>Donate</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    
    <footer>
        <div class="container mt-2 p-3">
            <div class="row">
                <div class="col-md-7 m-auto text-center p-2">
                    <p class="fs18">Follow me on</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 m-auto d-inline-flex justify-content-around justify-content-sm-around p-2 p-sm-2">
                    <a href="https://github.com/feddieminas/"><i class="fa fa-github"></i></a>
      			    <a href="https://www.facebook.com/feddie.dermesonoglou/"><i class="fa fa-facebook"></i></a>
      			    <a href="https://www.linkedin.com/in/faidon-dermesonoglou-4712479/"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>    
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block body_end_js %}{% endblock body_end_js %}
</body>
</html>