{% extends "base.html" %} 

<!-- django form bootstrap -->
{% load bootstrap_tags %} 

{% block content %}
<!-- category form creation of ['motive', 'name', 'desc', 'status'] -->

<div>
  <div class="row">
      <div class="col-md-10 offset-md-1">
  
        <form method="POST" enctype="multipart/form-data" class="accountform form-horizontal justify-content-center">
            <fieldset><legend class="my-3 fs20 cre--bg-fontcolor">Create Creativity</legend></fieldset>
            {% csrf_token %} {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-primary btnadd-Category">Create</button>
        </form>
      
     </div> 
  </div>    
</div>
{% endblock %}

{% block body_end_js %}
<script>
  // sticky footer
  $("body").addClass('d-flex flex-column').css({"min-height": "100vh"});
  $(".container").css({"flex": "1"});
  
  $(".container").addClass("form-creation-shift");

  // footer responsive stay at bottom
  $(window).on('resize', function(){
      const w = window.innerWidth;
      if (w<768) { 
        $('div div.row form').parent().parent().parent().removeClass('cre-create-box-color').removeClass('boxModel-create-box')
      } else {
        $('div div.row form').parent().parent().parent().addClass('cre-create-box-color').addClass('boxModel-create-box')
      }      
  }).resize();
</script>
{% endblock body_end_js %}